--- 
title: Bijgroei
description: Bosbot Metdik is een Android app die de inhoud van een boom berekent in kubieke meters
keywords: Bosbot, Metdik, methode dik, boom, volume, inhoud, kubieke meter, methode dik, spilhoutvolume, werkhoutvolume, spilhout, werkhout, dbh
---

<div class="container">
	<div class="row">
		<div class="span8">
			<h2>Bijgroei</h2>
		</div>
		<div class="span4">
			<p class="alert alert-success"><b>Bos</b>bot <i>Metdik</i> 1.0.0</p>
		</div>
	</div>
	<div class="row">
		<div class="span8">
			<p><b>Bos</b>bot <i>Metdik</i> berekent de bijgroei van een boom aan de hand van de formule van Schneider. Hiermee wordt de aanwas als procentueel aandeel van het volume berekend.</p>
			<p class="alert">Versie 1.0 van <b>Bos</b>bot <i>Metdik</i> gebruikt de vereenvoudigde formule van Schneider voor alle berekeningen.</p>
			<hr>
			<div class="row">
				<div class="span4">
					<math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
					  <msub><mi>P</mi><mi>v</mi></msub>
					  <mo>=</mo>
					<mrow>
						<mfrac>
					    	<mrow>
					        	<mn>200</mn> <mi>b</mi>
					      	</mrow>
							<mrow> 
						    	<mi>m</mi> <mi>d</mi>
						  	</mrow>
						</mfrac>
					</mrow>
					</math>
					<p><small>Formule van Schneider</small></p>
				</div>
				<div class="span4">
					<math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
					  <msub><mi>P</mi><mi>v</mi></msub>
					  <mo>=</mo>
					<mrow>
						<mfrac>
					    	<mrow>
					        	<mn>400</mn>
					      	</mrow>
							<mrow> 
						    	<mi>m</mi> <mi>d</mi>
						  	</mrow>
						</mfrac>
					</mrow>
					</math>
					<p><small>Vereenvoudigde formule van Schneider</small></p>
				</div>
			</div>
			<div class="span8">
				<table>
					<tr><td><em>P<sub>v</sub></em></td><td colspan="2">Procentuele volumeaanwas</td></tr>
					<tr><td rowspan="4"><em>b</em></td><td colspan="2">Constante voor het vereffenen van de hoogtebijgroei</td></tr>
					<tr><td><small>grove den</small></td><td><small>2,2</small></td></tr>
					<tr><td><small>Japanse lariks</small></td><td><small>2,5</small></td></tr>
					<tr><td><small>douglas</small></td><td><small>2,5</small></td></tr>
					<tr><td><em>m</em></td><td colspan="2">Het aantal jaarringen per centimeter</td></tr>
					<tr><td><em>d</em></td><td colspan="2">DBH in cm</td></tr>
				</table>
			</div>
			<hr>
			
			<p>Het berekende spilhout- en werkhoutvolume wordt gebruikt om de bijgroei in kubieke meters uit te rekenen. Met behulp van het stamtal en de oppervlakte dat is opgegeven bij opstand, wordt de bijgroei op opstandsniveau berekend.<p>
		</div>
		<div class="span4">
			<img src="/assets/img/screen_reken_bijgroei_bosbot_metdik.png" class="img-polaroid">
		</div>
	</div>
</div>