--- 
title: Boom
description: Bosbot Metdik is een Android app die de inhoud van een boom berekent in kubieke meters
keywords: Bosbot, Metdik, methode dik, boom, volume, inhoud, kubieke meter, methode dik, spilhoutvolume, werkhoutvolume, spilhout, werkhout, dbh
---

<div class="container">

	<div class="row">
		<div class="span12">
			<h2>Boom</h2>
		</div>
	</div>

	<div class="row">
		<div class="span8">
			<p><strong>Bos</strong>bot <em>metdik</em> berekent de boominhoud van een gegeven boom aan de hand van de boominhoudsfuncties van E.J. Dik (1996). Ook wel de <em>Methode Dik</em> genoemd. Met behulp van de boomsoort, de diameter op 1,30 meter hoogte en de boomhoogte kan het spilhoutvolume, het werkhoutvolume worden bepaald.
			</p>
			<p>Deze methode is ontwikkelt door E.J. Dik en te vinden in het rapport: <strong>Dik, E.J. 1996</strong>. <em>Herziene spilhout en volumefuncties van enkele boomsoorten, tabellen, omrekening naar werkhoutvolumes, bastpercentages en verloop van de diameter in de stam</em>. ibn-dlo, Wageningen, ibn-rapport 223, 57 p.<br />
			Voor wie meer wil weten over houtmeten en deze methode is <em>Richtlijnen voor het meten van inlands rondhout ten behoeve van de verkoop</em> een aanrader. Dit boekje is gratis te downloaden via de <a href="http://www.avih.nl/bosbasics/kennis-a-z/hout-meten/#.UYs744JZhOg" title="Algemene Vereniging Inlands Hout">AVIH</a> (rechtsonder Bosschapsrichtlijnen 2002). Ook het Vlaamse boekje <a class="download" title="download Meten van Bomen en Bossen" href="http://publicaties.vlaanderen.be/docfolder/1048/Meten_van_bomen_bossen_2001.pdf">Meten van bomen en bossen</a> is een mooie inleiding.
			</p>
			<h3 id="gebruik">Gebruik</h3>
			<p><strong>Bos</strong>bot <em>metdik</em> berekent lopend het spilhoutvolume en het werkhoutvolume van een boom, wanneer één van de variabelen gewijzigd wordt.<br />
			De <strong>boomsoort</strong> kan worden geselecteerd in de selectie-lijst bovenaan. De lijst bevat alle boomsoorten waarvan voor methode Dik variabelen beschikbaar zijn.</p>
			<p>De <strong>diameter op borsthoogte</strong> (DBH) kan worden aangepast door met het bolletje onder <em>diameter borsthoogte in centimeter</em> horizontaal te verschuiven. De maximumwaarde is 60 centimeter.<br/>
			De <strong>hoogte</strong> kan worden aangepast door met het bolletje onder <em>hoogte in meter</em> horizontaal te verschuiven. De maximumwaarde is 40 meter.</p>
			<p>Het berekende <strong>spilhoutvolume</strong> is de totale staminhoud in kubieke meters, van stamvoet tot boomtop. Het berekende <strong>werkhoutvolume</strong> is de staminhoud in kubieke meters die verwerkt kan worden. Deze is gebaseerd op een aftopdiameter van 10cm en een stobbehoogte van 10cm.</p>
		</div>
		<div class="span4">
			<img src="/assets/img/screen_reken_bosbot_metdik.png" class="img-polaroid">
		</div>
	</div>

</div>
