        <div class="container">
        	<div class="row">
        		<div class="span8">
        			<h2><strong>Bos</strong>bot <em>metdik</em></h2>
        			<p class="lead"><strong>Bos</strong>bot <em>metdik</em> biedt eerste hulp bij houtmeten. Deze Android app berekent aan de hand van de hoogte en <acronym title="Diameter Borst Hoogte (1,30 meter)">DBH</acronym> van een boom het volume spilhout en werkhout in kubieke meter. Download de app van <a title="Bosbot Metdik op Google Play" href="https://play.google.com/store/apps/details?id=com.bosbot.metdik"> Google Play</a>. Mensen zonder Android kunnen gebruik maken van een oude <a href="http://volume.etiennethomassen.nl">webversie</a>.</p>
        		</div>
        		<div class="span4">
        			<a class="google-play-margin" href="https://play.google.com/store/apps/details?id=com.bosbot.metdik">
	        		  <img alt="Android app on Google Play"
	        		       src="https://developer.android.com/images/brand/nl_app_rgb_wo_60.png" />
	        		</a>
        		</div>
        	</div>
        	<div class="row">
        		<div class="span8">
	        		<p>Bosbot metdik helpt bij een snelle schatting van volume en bijgroei op boom- en opstandsniveau. De app kan ook gebruikt worden om een indruk te krijgen van het dunningsvolume of het volume van de toekomstbomen.</p>
	        		<h4>Disclaimer</h4>
	        		<p><strong>Bos</strong>bot <em>metdik</em> is bedoeld om snel en eenvoudig de inhoud van een <u>bos</u>boom te kunnen <em>schatten</em>. De uitkomst geeft het aantal kubieke meters stamhout van de boom afhankelijk van de gegeven boomsoort, de <acronym title="Diameter Borst Hoogte (1,30 meter)">DBH</acronym> en de boomhoogte. Plaatselijk kan het werkelijke volume sterk verschillen van het berekende resultaat, omdat het verloop (tapsheid van de stam) sterk kan afwijken van het aangenomen verloop in de berekening.
	        		</p>
	        	</div>
        	</div>
        </div> <!-- /container -->