--- 
title: Opstand
description: Bosbot Metdik is een Android app die de inhoud van een boom berekent in kubieke meters
keywords: Bosbot, Metdik, methode dik, boom, volume, inhoud, kubieke meter, methode dik, spilhoutvolume, werkhoutvolume, spilhout, werkhout, dbh
---

<div class="container">
	<div class="row">
		<div class="span8">
			<h2>Opstand</h2>
		</div>
		<div class="span4">
			<p class="alert alert-success"><b>Bos</b>bot <i>Metdik</i> 1.0.0</p>
		</div>
	</div>
	<div class="row">
		<div class="span8">
			<p>Onder <em>opstand</em> kan het boomvolume vermenigvuldigd worden met het stamtal per hectare en de oppervlakte van de opstand. Zo kan het totale opstandsvolume (in het geval van een monoculture), het volume van een boomsoort of bijvoorbeeld het dunningsvolume geschat worden.</p>
		
			<h4>Stamtal</h4>
			<p>Het stamtal is het aantal bomen per hectare. Het aantal stuks moet direct ingevoerd worden.</p>
			<p>Schatten van het stamtal kan eenvoudig door de afstand tussen de bomen te schatten of af te passen. 100 delen door de afstand levert het aantal bomen per 100 meter. Dit aantal in het kwadraat is het stamtal.<br />
			Bij een toekomstbomendunning kan het stamtal van de dunning geschat worden door het aantal toekomstbomen te vermenigvuldigen met het aantal dunningsbomen per toekomstboom.</p>
			
			<h4>Oppervlakte</h4>
			<p>Door de oppervlakte in hectares in te vullen kan <strong>Bos</strong>bot <em>metdik</em> ook de gegevens voor de hele opstand berekenen.</p>
			
			<p>Uit de bij <em>boom</em> berekende volumes wordt na het invullen van het stamtal en de oppervlakte het totale volume per hectare en van de opstand berekend.</p>
		</div>
		<div class="span4">
			<img src="/assets/img/screen_reken_opstand_bosbot_metdik.png" class="img-polaroid">
		</div>
	</div>
</div>

