--- 
title: Versies
description: Bosbot Metdik is een Android app die de inhoud van een boom berekent in kubieke meters
keywords: Bosbot, Metdik, methode dik, boom, volume, inhoud, kubieke meter, methode dik, spilhoutvolume, werkhoutvolume, spilhout, werkhout, dbh
---

<div class="container">
	<div class="row">
		<div class="span12">
			<h2>Versies</h2>
		</div>
	</div>
	<div class="row">
		<div class="span3">
			<h3><strong>Bos</strong>bot <em>metdik</em></h3>
		</div>
		<div class="span3">
			<a class="google-play" href="https://play.google.com/store/apps/details?id=com.bosbot.metdik">
		  		<img alt="Android app on Google Play"
		       		src="https://developer.android.com/images/brand/nl_app_rgb_wo_60.png" />
			</a>
		</div>
		<div class="span3">
			<h3><strong>Bos</strong>bot <em>metdik</em> CE</h3>
		</div>
		<div class="span3">
			<a class="google-play" href="https://play.google.com/store/apps/details?id=com.bosbot.metdikce">
			  <img alt="Android app on Google Play"
			       src="https://developer.android.com/images/brand/nl_app_rgb_wo_60.png" />
			</a>
		</div>	
	</div>
	
		
	<div class="row">
		<div class="span6">
			<p>Originele <strong>Bos</strong>bot <em>metdik</em> app voor Android</p>		

			<ul>
				<li><b>1.1.0</b> - 6 maart 2014<br />Mogelijk om boomhoogte en DBH in te voeren met schuiven of handmatig in te typen. Geselecteerde boomsoort wordt niet meer gereset naar Douglas als tabblad Boom opnieuw wordt geselecteerd. Invoer op tabblad Boom onderaan, zodat aanpassing direct zichtbaar is en niet meer door eigen vingers geblokkeerd wordt. Bijgroeigegevens worden bij iedere selectie van tabblad Bijgroei opnieuw berekend.</li>
				<li><b>1.0.0</b> - 9 juni 2013<br />Toevoeging van opstands- en bijgroeiberekeningen. Android 3.0 of hoger (Honeycomb).</li>
				<li><b>0.9.2</b> - 23 mei 2013<br />Toevoeging populier. Verbetering berekening voor grove den en Corsicaanse den</li>
				<li><b>0.9.1</b> - 12 mei 2013<br />Nieuw logo en bugfix weergave werkhoutvolume</li>
				<li><b>0.9.0</b> - 9 mei 2013<br />Eerste publieke versie. Android 2.2 of hoger (Froyo) vereist</li>
			</ul>
		</div>
		<div class="span6">
			<p><strong>Bos</strong>bot <em>metdik</em> CE, is de Classic Edition. Het is een heruitgave van versie 0.9.2 van de originele Bosbot, met ondersteuning voor oudere versies van Android.</p>
			<ul>
				<li><b>1.0.0</b> - 30 juni 2013<br /> Eerste publieke versie. Nieuwe uitgave van Bosbot Metdik 0.9.2. om ook oudere versies van Android te ondersteunen. Android 2.2 of hoger (Froyo) vereist.</li>
			</ul>
		</div>

	</div>
</div>

