/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#overview {
	background-image: url("/assets/img/logo.png");
	background-repeat:no-repeat;
	background-position:center; 
	background-size: 150px 150px;
	margin-bottom: 1em;
}

.google-play{
	display: block;
}
.google-play-margin{
	display: block;
	margin-top: 4em;
}


.jumbotron {
	position: relative;
	padding: 40px 0 0px 0;
	color: #fff;
	text-align: left;
	background-color: #5bb75b;
	margin-bottom: 0;
}
.jumbotron h1 {
	padding-top: 	50px;
	padding-bottom: 40px;
	margin-bottom: 0;
	font-family: RobotoThin, sans-serif;
	font-weight: normal;
	font-size: 500%;
}
.jumbotron h1 strong{
	font-family: RobotoRegular, sans-serif;
	font-weight: normal;
}
.jumbotron h1.bosbot{
	text-align: right;
}
.jumbotron .tagline, .jumbotron .subkop{
	margin-top: 1em;
	margin-left: .2em;
	font: 150% RobotoThin, sans-serif;
	letter-spacing: .05em;
}
.jumbotron .tagline, .jumbotron .subkop{
	text-align: center;
}

.jumbotron .tagline{
	padding-bottom: 10px;
	color: rgba(250, 250, 250, 0.35);
	font-family: RobotoBold, sans-serif;
}

.margin-top{
	margin-top: 2em;
}

.logo{
	font-family: RobotoBold, sans-serif;	
	margin-top: 0.15em;
	font-size: 20em;
}

ul {
	list-style-type: square;
}

ul.categorie{
	font-size: .8em;
	list-style-type: none;
	margin: 0;
	}
	ul.categorie li{
		margin: .3em 0;
		padding: .2em .3em;
		background-color: #0088cc;
		-webkit-border-radius: 4px;
		   -moz-border-radius: 4px;
		        border-radius: 4px;
		}
		ul.categorie li a{
			color: #fff;		
}

a.brand, p.brand {
	font-family: RobotoThin, sans-serif;
}
a.brand strong{
	font-family: RobotoRegular, sans-serif;
	font-weight: normal;
}

.nav{
	font-family: RobotoThin, sans-serif;
}


ul.nav-pills li a {
	color: #fff;
	font-family: RobotoRegular, sans-serif;
}
ul.nav-pills li a:hover {
	background: #fff;
	color: #5bb75b;
}
ul.nav-pills li.active a{
	background: #fff;
	color: #5bb75b;
}

h2{
	font-family: RobotoThin, sans-serif;
	font-weight: normal;
}
h2 strong{
	font-family: RobotoRegular, sans-serif;
}
h2 em{
	font-size: smaller;
}

h3{
	font-family: RobotoMedium, sans-serif;
	font-weight: normal;
}

p{
	font-family: RobotoLight, sans-serif;
	font-size: 1.1em;
	line-height: 1.5;
	letter-spacing: 0.02em;
}
p.lead{
	font-family: RobotoThin, sans-serif;
	letter-spacing: 0.03em;
}

.well h3 {
	margin-top: 0;
}
.well p, .well form {
	margin-bottom: 0;
}

td.center, th.center{
	text-align: center;
}
td.getal, th.getal{
	text-align: right;
}

.sub-nav{
	background-color: #F5F5F5;
}







/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media (min-width: 1200px) {
  .bs-docs-container {
    max-width: 970px;
  }
  .bs-docs-sidenav {
    width: 258px;
  }
}

/* Desktop
------------------------- */
@media (max-width: 980px) {
  /* Unfloat brand */
  body > .navbar-fixed-top .brand {
    float: left;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* Inline-block quick links for more spacing */
  .quick-links li {
    display: inline-block;
    margin: 5px;
  }

  /* When affixed, space properly */
  .bs-docs-sidenav {
    top: 0;
    margin-top: 30px;
    margin-right: 0;
  }
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 980px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
  /* Widen masthead and social buttons to fill body padding */
  .jumbotron {
    margin-top: -20px; /* Offset bottom margin on .navbar */
  }
  /* Adjust sidenav width */
  .bs-docs-sidenav {
    width: 166px;
    margin-top: 20px;
  }
  .bs-docs-sidenav.affix {
    top: 0;
  }
}

/* Tablet
------------------------- */
@media (max-width: 768px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }

  /* Widen masthead and social buttons to fill body padding */
  .jumbotron {
    padding: 40px 20px;
    margin-top:   -20px; /* Offset bottom margin on .navbar */
    margin-right: -20px;
    margin-left:  -20px;
  }
  .masthead h1 {
    font-size: 90px;
  }
  .masthead p,
  .masthead .btn {
    font-size: 24px;
  }
  .marketing .span4 {
    margin-bottom: 40px;
  }
  .bs-docs-social {
    margin: 0 -20px;
  }

  /* Space out the show-grid examples */
  .show-grid [class*="span"] {
    margin-bottom: 5px;
  }

  /* Sidenav */
  .bs-docs-sidenav {
    width: auto;
    margin-bottom: 20px;
  }
  .bs-docs-sidenav.affix {
    position: static;
    width: auto;
    top: 0;
  }

  /* Unfloat the back to top link in footer */
  .footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer p {
    margin-bottom: 9px;
  }
}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
  /* Remove padding above jumbotron */
  body {
    padding-top: 0;
  }

  /* Change up some type stuff */
  h2 small {
    display: block;
  }

  /* Downsize the jumbotrons */
  .jumbotron h1 {
    font-size: 60px;
  }
  .jumbotron p,
  .jumbotron .btn {
    font-size: 20px;
  }
  .jumbotron .btn {
    display: block;
    margin: 0 auto;
  }

  /* center align subhead text like the masthead */
  .subhead h1,
  .subhead p {
    text-align: center;
  }

  /* Marketing on home */
  .marketing h1 {
    font-size: 40px;
  }

  /* center example sites */
  .example-sites {
    margin-left: 0;
  }
  .example-sites > li {
    float: none;
    display: block;
    max-width: 280px;
    margin: 0 auto 18px;
    text-align: center;
  }
  .example-sites .thumbnail > img {
    max-width: 270px;
  }

  /* Do our best to make tables work in narrow viewports */
  table code {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
  }

  /* Modal example */
  .modal-example .modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }

  /* Unfloat the back to top in footer to prevent odd text wrapping */
  .footer .pull-right {
    float: none;
  }
}