<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Bosbot Metdik - <%= @item[:title] %></title>
		<meta name="description" content="<%= @item[:description] %>">
		<meta name="keywords" content="<%= @item[:keywords] %>">
		<meta name="viewport" content="width=device-width">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/assets/css/bootstrap.css">
        <link rel="stylesheet" href="/assets/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="/assets/fonts/roboto/stylesheet.css" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/styles.css">

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script type="text/javascript"
          src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
        </script>
    </head>
    <body>
    <div id="main">
      
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="http://metdik.bosbot.nl"><b>Bos</b>bot <i>metdik</i></a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li><%= link_to('Home', '/') %></li>
                            <li><%= link_to('Boom', '/boom') %></li>
                            <li><%= link_to('Opstand', '/opstand') %></li>
                            <li><%= link_to('Bijgroei', '/bijgroei') %></li>
                            <li><%= link_to('Versies', '/versies') %></li>
                            <li><%= link_to('Contact', '/contact') %></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

		<header class="jumbotron subhead" id="overview">
			<div class="container">
		  		<div class="row">
		      		<div class="span5">
		            	<h1 class="bosbot"><strong>bos</strong>bot</h1>
		        	</div>

		        	<div class="span5 offset2">
		        		<h1 class="metdik"><em>metdik</em></h1>
		        	</div>
		        </div>
		        <div class="row">
		        	<div class="12">
		        		<p class="tagline">eerste hulp bij houtmeten</p>
		        	</div>
		        </div>
		  	</div>
		</header>